#edit_page.col-md-8.col-md-offset-2
  .row
    .panel.panel-primary
      .panel-heading
        %h1 Fix Pic
      .panel-body
        .current_image
          %strong.center Image Right Now
          = image_tag @pic.image.url(:medium)
        = render 'form'

